<!DOCTYPE html>
<html lang="en">
<head>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <title>Dublin Bikes</title>
</head>
<body>
<!--The div element for the map -->
<div id="map"></div>
<script>
    'use strict'
    var initMap = () => {
        this.map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 12,
                center: {lat: 53.342964, lng: -6.286889}
            });
        this.markers = new Map();
        $.getJSON('api/stations/', data => {
            for (const station of data.data) {
                const marker = new google.maps.Marker({
                    position: {
                        lat: station.latitude,
                        lng: station.longitude
                    },
                    map: map,
                    title: station.site_names
                });
                markers.set(station.number, marker);
            }

            this.infowindow = new google.maps.InfoWindow({content: '<div>1234</div>'});
            for (const marker of markers.values()) {
                marker.addListener('click', () => {
                    infowindow.open(map, marker);
                });
            }
        });
    };


</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFP5d_7EMWgLSyTTuCvpYcUU--AQ239So&callback=initMap">
</script>
</body>
</html>